
ProxyPass /pulpcore_registry/v2/ http://127.0.0.1:24817/v2/
ProxyPassReverse /pulpcore_registry/v2/ http://127.0.0.1:24817/v2/

ProxyPass /pulp/container http://127.0.0.1:24816/pulp/container
ProxyPassReverse http://127.0.0.1:24816/pulp/container  /pulp/container



