<Location /pulpcore_registry/v2/>
   SSLRequire %{SSL_CLIENT_S_DN_CN} eq "admin"
</Location>

ProxyPass /pulpcore_registry/v2/ http://127.0.0.1:24816/v2/
ProxyPassReverse /pulpcore_registry/v2 http://127.0.0.1:24816/v2

