---
dependencies:
  - role: foreman
    foreman_server_repositories_katello: true
    foreman_server_repositories_ostree: false
    foreman_installer_scenario: katello
    foreman_installer_disable_system_checks: true
    foreman_installer_additional_packages:
      - "{{ 'foreman-installer-katello' if katello_repositories_version == 'nightly' or katello_repositories_version is version('4.0', '>=') else 'katello' }}"
