<network>
 <name>provision</name>
 <forward mode='nat'/>
 <bridge name='virbr1' stp='on' delay='0' />
 <domain name="example.com"/>
 <dns>
 </dns>
 <ip address='{{ foreman_libvirt_ip_address }}' netmask='255.255.255.0'>
   <tftp root='/var/lib/tftpboot' />
   <dhcp>
     <range start='{{ foreman_libvirt_dhcp_start }}' end='{{ foreman_libvirt_dhcp_end }}' />
     <bootp file='pxelinux.0' />
   </dhcp>
 </ip>
</network>
