.vagrant
*.swo
*.swp
*.swn
katello-installer*
foreman-installer*
puppet-*
boxes.yaml
.idea
scripts
repo
Gemfile.lock
*.retry
*.pyc
user_playbooks
playbooks/galaxy_roles
requirements.yml
.tmp_boxes
settings.yaml
boxes.d/*-local.yaml
boxes.d/80-tmp-*.yaml
