[defaults]
stdout_callback = yaml
display_skipped_hosts = false
show_per_host_start = true
nocows = 1
inventory = $PWD/inventories/
roles_path = ./playbooks/galaxy_roles:./user_playbooks/roles:./roles
retry_files_save_path = $HOME/.ansible/retry-files
remote_user = vagrant
host_key_checking = False
force_color = 1
remote_tmp = /tmp/ansible
