#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
	log                 	global
	retries             	3
	timeout http-request	10s
	timeout queue       	1m
	timeout connect     	10s
	timeout client      	1m
	timeout server      	1m
	timeout http-keep-alive 10s
	timeout check       	10s
	maxconn             	3000

#https
frontend https
   bind *:443
   mode tcp
   option              	tcplog
   default_backend f-proxy-https

backend f-proxy-https
   option tcp-check
   balance source
{% for host in haproxy_targets %}
   server f-proxy-https-{{loop.index}} {{ host }}:443 check
{% endfor %}

#http
frontend http
   bind *:80
   mode tcp
   option              	tcplog
   default_backend f-proxy-http

backend f-proxy-http
   option tcp-check
   balance roundrobin
{% for host in haproxy_targets %}
   server f-proxy-http-{{loop.index}} {{ host }}:80 check
{% endfor %}

#anaconda
frontend anaconda
   bind *:8000
   mode tcp
   option              	tcplog
   default_backend f-proxy-anaconda

backend f-proxy-anaconda
   option tcp-check
   balance roundrobin
{% for host in haproxy_targets %}
   server f-proxy-anaconda-{{loop.index}} {{ host }}:8000 check
{% endfor %}

#smart-proxy
frontend smart-proxy
   bind *:9090
   mode tcp
   option              	tcplog
   default_backend f-proxy-smart-proxy

backend f-proxy-smart-proxy
   option tcp-check
   balance roundrobin
{% for host in haproxy_targets %}
   server f-proxy-smart-proxy-{{loop.index}} {{ host }}:9090 check
{% endfor %}
