---
- include_tasks: packages.yml

- include_tasks: locales.yml
  when: ansible_os_family == 'Debian'

- include_tasks: module_prs.yml
  when: (foreman_installer_module_prs|length > 0) or (foreman_installer_module_branches|length > 0)

- include_tasks: custom_hiera.yml
  when: foreman_installer_custom_hiera != ""

- include_tasks: install.yml
  when: foreman_installer_upgrade == False

- include_tasks: upgrade.yml
  when: foreman_installer_upgrade == True
