# this playbook is based on the vagrant-libvirt readme:
# https://github.com/vagrant-libvirt/vagrant-libvirt/blob/master/README.md#additional-notes-for-fedora-and-similar-linux-distributions
# TL;DR: Vagrant embedds OpenSSL which is incompatible with the
# one shipped by EL8, so we need to build a few libs against it
# before we can build the libvirt gem

- name: 'install EL8-specific vagrant-libvirt requirements'
  ansible.builtin.package:
    name:
      - cmake
      - zlib-devel
      - openssl-devel
      - gcc-c++
      - perl
      - byacc
    state: present

- name: 'create directory for vagrant library builds'
  ansible.builtin.file:
    path: /tmp/vagrant-libvirt-deps
    state: directory

- name: 'download krb5 and libssh'
  ansible.builtin.unarchive:
    src: "{{ item }}"
    dest: /tmp/vagrant-libvirt-deps
    remote_src: yes
  loop:
    - https://www.libssh.org/files/0.9/libssh-0.9.4.tar.xz
    - https://kerberos.org/dist/krb5/1.18/krb5-1.18.2.tar.gz

- name: 'configure krb5'
  ansible.builtin.command: ./configure
  args:
    chdir: /tmp/vagrant-libvirt-deps/krb5-1.18.2/src

- name: 'build krb5'
  ansible.builtin.command: make -j {{ ansible_processor_vcpus }}
  args:
    chdir: /tmp/vagrant-libvirt-deps/krb5-1.18.2/src

- name: 'install krb5crypto libs'
  ansible.builtin.shell: cp lib/libk5crypto.so* /opt/vagrant/embedded/lib64/
  args:
    chdir: /tmp/vagrant-libvirt-deps/krb5-1.18.2/src

- name: 'create libssh build directory'
  ansible.builtin.file:
    path: /tmp/vagrant-libvirt-deps/libssh-0.9.4/build
    state: directory

- name: 'configure libssh'
  ansible.builtin.command: cmake .. -DOPENSSL_ROOT_DIR=/opt/vagrant/embedded/
  args:
    chdir: /tmp/vagrant-libvirt-deps/libssh-0.9.4/build

- name: 'build libssh'
  ansible.builtin.command: make -j {{ ansible_processor_vcpus }}
  args:
    chdir: /tmp/vagrant-libvirt-deps/libssh-0.9.4/build

- name: 'install libssh libs'
  ansible.builtin.shell: cp lib/libssh.so* /opt/vagrant/embedded/lib64/
  args:
    chdir: /tmp/vagrant-libvirt-deps/libssh-0.9.4/build
