---
centos7-devel:
  box: centos7
  ansible:
    playbook: 'playbooks/devel.yml'
    group: 'devel'
    variables:
      katello_devel_github_username: <REPLACE ME>

katello-remote-execution:
  box: centos7-katello-nightly
  installer: --enable-foreman-remote-execution

centos7-proxy-devel:
    box: centos7
    ansible:
      playbook: 'playbooks/foreman_proxy_content_dev.yml'
      group: 'foreman-proxy-content'
      server: 'centos7-devel'

katello-client:
  box: centos7
  ansible:
    playbook: 'playbooks/katello_client.yml'
    group: 'client'
    server: 'centos7-devel'

centos7-bats-ci:
  box: centos7-bats
  ansible:
    playbook: 'playbooks/bats_pipeline_nightly.yml'
    group: 'bats'
    variables:
      bats_tests:
        - "swapfile.bats"
        - "fb-install-katello.bats"
        - "fb-content-katello.bats"
        - "fb-finish-katello.bats"
