db:
  image: postgres
  expose:
    - "5432"
  environment:
    POSTGRES_DATABASE: foreman
    POSTGRES_USER: foreman
    POSTGRES_PASSWORD: foreman
redmine:
  build: .
  environment:
    OPENSHIFT_APP_NAME: redmine
    OPENSHIFT_POSTGRESQL_DB_USERNAME: foreman
    OPENSHIFT_POSTGRESQL_DB_PASSWORD: foreman
    OPENSHIFT_POSTGRESQL_DB_HOST: db
    OPENSHIFT_POSTGRESQL_DB_PORT: 5432
  ports:
    - "3000:3000"
  volumes:
    - ~/workspace/redmine:/redmine
  links:
    - db
