el7:
  build: centos7/
  environment:
    FOREMAN_SERVER_IP:
    FOREMAN_SERVER_HOSTNAME:
    FOREMAN_ORGANIZATION: Default_Organization
    FOREMAN_ACTIVATION_KEY: Katello Deploy Key
    KATELLO_VERSION: nightly
  volumes:
    - /dev/log:/dev/log
el6:
  build: centos6/
  environment:
    FOREMAN_SERVER_IP:
    FOREMAN_SERVER_HOSTNAME:
    FOREMAN_ORGANIZATION: Default_Organization
    FOREMAN_ACTIVATION_KEY: Katello Deploy Key
    KATELLO_VERSION: nightly
  volumes:
    - /dev/log:/dev/log
el5:
  build: centos5/
  environment:
    FOREMAN_SERVER_IP:
    FOREMAN_SERVER_HOSTNAME:
    FOREMAN_ORGANIZATION: Default_Organization
    FOREMAN_ACTIVATION_KEY: Katello Deploy Key
    KATELLO_VERSION: nightly
  volumes:
    - /dev/log:/dev/log
