:foreman:
  # Server connection setup
  :host: {{ hammer_creadentials_host }}
  :username: {{ hammer_creadentials_username }}
  :password: {{ hammer_creadentials_password }}

:ssl:
  :verify_ssl: false
