:foreman:
  # Server connection setup
  :host: {{ hammer_credentials_host }}
  :username: {{ hammer_credentials_username }}
  :password: {{ hammer_credentials_password }}

:ssl:
  :verify_ssl: {{ hammer_credentials_verify_ssl }}
