---
apiVersion: v1
kind: Service
metadata:
  name: qpid
  namespace: "{{ project_name }}"
  labels:
    app: foreman
    service: qpid
spec:
  selector:
    app: foreman
    service: qpid
  ports:
    - protocol: TCP
      targetPort: 5672
      name: port-5672-tcp
      port: 5672
