Name,Organizations,Locations,Description,Job Category,Provider,Snippet,Template,Input:Name,Input:Description,Input:Required,Input:Type,Input:Parameters
{% for line in csv_job_templates %}
name,organizations,locations,description,job_category,provider,snippet,template,input:name,input:description,input_required,input_type,input_parameters
{% endfor %}
