Name,Organizations,Locations,Operating Systems,Host Group / Puppet Environment Combinations,Kind,Template
{% for line in csv_provisioning_templates %}
name,organizations,locations,operating_systems,host_group_puppet_environment_combinations,kind,template
{% endfor %}
