# Version=EL8
# Partition clearing information
clearpart --all --initlabel
autopart --type=lvm
# Use network installation
url --url http://mirror.steadfastnet.com/centos/8-stream/BaseOS/x86_64/os/
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3  --activate --hostname=centos8-katello-devel-stable.example.com
firewall --disabled
selinux --permissive
# Root password
rootpw vagrant
# Run the Setup Agent on first boot
firstboot --disabled
eula --agreed
# Do not configure the X Window System
text
skipx
# System services
services --enabled=NetworkManager,sshd
# System timezone
timezone UTC
reboot

%packages --ignoremissing
@^minimal-environment
curl
vim
openssl
kexec-tools
centos-release-stream
openssh-clients
%end

# Disable kdump
%addon com_redhat_kdump --disable
%end

%post
exec < /dev/tty3 > /dev/tty3
chvt 3
echo
echo "################################"
echo "# Running Post Configuration   #"
echo "################################"
(
/usr/bin/yum -y install drpm sudo
useradd -m -p $(openssl passwd vagrant) vagrant
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

) 2>&1 | /usr/bin/tee /var/log/post_install.log
chvt 1

%end