<network>
 <name>provision</name>
 <forward mode='nat'/>
 <bridge name='virbr1' stp='on' delay='0' />
 <domain name="katellolabs.org"/>
 <dns>
 </dns>
 <ip address='192.168.73.1' netmask='255.255.255.0'>
   <tftp root='/var/lib/tftpboot' />
   <dhcp>
     <range start='192.168.73.2' end='192.168.73.254' />
     <bootp file='pxelinux.0' />
   </dhcp>
 </ip>
</network>
