---
- name: 'Setup Puppet 3 Repository'
  yum:
    name: https://yum.puppetlabs.com/puppetlabs-release-el-{{ ansible_distribution_major_version }}.noarch.rpm
    state: present
  tags:
    - packages
