---
- name: 'Install Foreman GPG key'
  apt_key:
    url: https://deb.theforeman.org/foreman.asc

- name: 'Install Foreman repository'
  apt_repository:
    repo: deb http://deb.theforeman.org {{ ansible_distribution_release }} {{ foreman_repositories_version }}
    state: present

- name: 'Install Foreman plugins repository'
  apt_repository:
    repo: deb http://deb.theforeman.org plugins {{ foreman_repositories_version }}
    state: present
