---
- name: 'Setup Extra Common if Stream'
  ansible.builtin.yum:
    name: "centos-stream-repos"
    state: latest
  tags:
    - packages
  when:
    - ansible_distribution_major_version == '9'
    - ansible_distribution == 'CentOS'

- name: 'Setup Epel Repository'
  ansible.builtin.yum:
    name: "{{ epel_repositories_name }}"
    disable_gpg_check: True
    state: "{{ epel_repositories_state }}"
  tags:
    - packages
  when: ansible_os_family == 'RedHat'
