---
- name: "Install git"
  yum:
    name: "git"
    state: "installed"

- name: "Get /usr/bin/bats stat"
  stat:
    path: "/usr/bin/bats"
  register: bats_bin

- name: "Clone bats"
  git:
    repo: "https://github.com/sstephenson/bats.git"
    dest: "{{ bats_git_dir }}"
  when: bats_bin.stat.exists == False

- name: "Install bats"
  shell: "{{ bats_git_dir }}/install.sh /usr"
  args:
    creates: "/usr/bin/bats"

- name: "Clone forklift"
  git:
    repo: "{{ bats_forklift_repo }}"
    dest: "{{ bats_forklift_dir }}"
    update: "{{ bats_update_forklift }}"

- name: "Bats output directory"
  file:
    state: "directory"
    path: "{{ bats_output_dir }}"

- name: "Run bats"
  shell: "bats --tap {{ item }} > {{ bats_output_dir }}/{{ item }}.tap"
  args:
    chdir: "{{ bats_forklift_dir }}/bats"
  with_items: "{{ bats_tests }}"
  register: "test_output"
  ignore_errors: true

- name: "Read results"
  shell: "cat {{ bats_output_dir }}/{{ item }}.tap"
  register: "test_results"
  with_items: "{{ bats_tests }}"

- name: "Output test results"
  debug:
    msg: "{{ test_results.results | join('\n', attribute='stdout') }}"

- name: "Fail if tests didn't pass"
  fail:
    msg: "Test failed, please see {{ bats_output_dir }}/ for more information"
  when: item.rc != 0
  with_items: "{{ test_output.results }}"
