---
- hosts: all
  become: true
  vars:
    vagrant_libvirt: true
  roles:
    - role: libvirt
    - role: vagrant
    - role: epel_repositories

- hosts: all
  become: true
  vars:
    forklift_url: "https://github.com/theforeman/forklift"
    forklift_dest: "{{ ansible_env.HOME }}/forklift"
    forklift_version: master
    forklift_install_from_galaxy: True
    forklift_install_pulp_from_galaxy: False
    forklift_config:
      sync_type: disabled
      libvirt_options:
        volume_cache: unsafe
      boxes:
        exclude:
          - '^[^p]'
  tasks:
    - name: 'Install Forklift dependencies'
      ansible.builtin.package:
        name:
          - ansible
          - git-core
          - rubygem-deep_merge
        state: 'present'

    - name: 'install telemetry dependencies'
      ansible.builtin.pip:
        name:
          - protobuf<3.21
          - opentelemetry-api
          - opentelemetry-sdk
          - opentelemetry-exporter-otlp
        executable: pip3.8
      when:
        - forklift_telemetry|default(false)
        - ansible_distribution_major_version != '7'

    - name: 'Clone Forklift'
      ansible.builtin.git:
        repo: "{{ forklift_url }}"
        version: "{{ forklift_version }}"
        dest: "{{ forklift_dest }}"

    - name: 'Configure Forklift'
      ansible.builtin.copy:
        content: "{{ forklift_config | to_nice_yaml }}"
        dest: "{{ forklift_dest }}/vagrant/settings.yaml"

    - name: 'Install Forklift collection dependencies'
      ansible.builtin.command:
        cmd: ansible-galaxy collection install -r requirements.yml
        chdir: "{{ forklift_dest }}"
      when: forklift_install_from_galaxy

    - name: 'Install Forklift Pulp collection dependencies for <3.17'
      ansible.builtin.command:
        cmd: ansible-galaxy collection install -r requirements-pulp.yml
        chdir: "{{ forklift_dest }}"
      when:
        - forklift_install_pulp_from_galaxy
        - pipeline_version is defined
        - pipeline_version is version('3.17', '<=')
      retries: 3
      register: result
      until: result is succeeded

    - name: 'Install Forklift Pulp collection dependencies for >3.18'
      ansible.builtin.command:
        cmd: ansible-galaxy collection install -r requirements-pulp-318.yml
        chdir: "{{ forklift_dest }}"
      when:
        - forklift_install_pulp_from_galaxy
        - pipeline_version is defined
        - pipeline_version is version('3.18', '>=')
      retries: 3
      register: result
      until: result is succeeded

    - name: 'Install Forklift pulp_installer role dependencies'
      ansible.builtin.command:
        cmd: ansible-galaxy role install -r playbooks/galaxy_collections/ansible_collections/pulp/pulp_installer/requirements.yml
        chdir: "{{ forklift_dest }}"
      when: forklift_install_pulp_from_galaxy
      retries: 3
      register: result
      until: result is succeeded
