---
epel_repositories_state: present
epel_repositories_url: https://dl.fedoraproject.org/pub/epel/epel-release-latest-{{ ansible_distribution_major_version }}.noarch.rpm
epel_repositories_name: "{{ epel_repositories_url if epel_repositories_state == 'present' else 'epel-release' }}"
