---
foreman_installer_additional_packages: []
foreman_installer_admin_password: changeme
foreman_installer_skip_installer: False
foreman_installer_verbose: True
foreman_installer_scenario: foreman
foreman_installer_scenario_flag: '{{ "--scenario" if foreman_installer_scenario != "" else "" }}'
foreman_installer_upgrade: False
foreman_installer_command: foreman-installer
foreman_installer_custom_hiera: ""
foreman_installer_no_colors: True
foreman_installer_disable_system_checks: False

# Comma-separated list of "organization/module/pr_number", e.g. "katello/foreman_proxy_content/37,katello/certs/34"
foreman_installer_module_prs: []
# Another option is checkout which can be useful if you're not based on master
foreman_installer_module_prs_strategy: "merge"

# Comma-separated list of "organization/module/branch", e.g. "theforeman/foreman/foo,theforeman/katello/bar"
foreman_installer_module_branches: []

# There are two options, so a user can supply their own, and a playbook can
# specify theirs. For example, foreman-proxy needs "--foreman-proxy-foreman-url"
# so we put it in internal_use_only in a role or playbook.
# The foreman_installer_options is intended for the end user to override.
foreman_installer_options: []
foreman_installer_options_internal_use_only:
  - '{{ "--foreman-initial-admin-password" if foreman_installer_scenario != "foreman-proxy-content" else "" }} {{ foreman_installer_admin_password if foreman_installer_scenario != "foreman-proxy-content" else "" }}'
