webserver={{ powerdns_webserver }}
api={{ powerdns_api }}
api-key={{ powerdns_api_key }}

launch={{ powerdns_db_backend }}
{{ powerdns_db_backend }}-host={{ powerdns_db_host }}
{{ powerdns_db_backend }}-dbname={{ powerdns_db_name }}
{{ powerdns_db_backend }}-user={{ powerdns_db_user }}
{{ powerdns_db_backend }}-password={{ powerdns_db_pass }}
