name: CI

on: [push, pull_request]

env:
  COLORTERM: 'yes'
  TERM: 'xterm-256color'
  PYTEST_ADDOPTS: '--color=yes'

jobs:
  ansible-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
      - name: Install ansible-lint
        run: pip install 'ansible-lint<6' ansible
      - name: Run tests
        run: |
          ansible-lint playbooks/
          ansible-lint roles/
          ansible-lint pipelines/

  molecule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
      - name: Install molecule
        run: pip install molecule ansible
      - name: Run tests
        run: |
          for roledir in roles/*/molecule; do
            pushd $(dirname $roledir)
            molecule test
            popd
          done

  vagrant:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: vagrant
    strategy:
      matrix:
        ruby:
          - '2.0'
          - '2.6'
          - '2.7'
          - '3.0'
          - '3.1'
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Install
        run: bundle install
      - name: Run tests
        run: bundle exec rake
